body {
    font-family: Arial, sans-serif;
    color: rgb(0, 11, 48);
background-color: rgb(0, 132, 255);}

.bloco {
    margin-bottom: 10px;
}
#resultado {
    font-size: 24px;
    margin-bottom: 20px;
}


